<section class="hero has-background-white-ter is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-15-tablet is-4-desktop is-3-widescreen ">
            <div class="wavy">
                <span style="--i:0;"> </span>
                <span style="--i:1;"> </span>
                <span style="--i:2;"> </span>
                <span style="--i:3;"> </span>
                <span style="--i:4;"> </span>
                <span style="--i:5;"> </span>
                <span style="--i:6;"> </span>
                <span style="--i:7;"> </span>
            </div>            
          </div>        
        </div>
      </div>
    </div>
  </section>
  
