* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    place-items: center;
}



.wavy {
    // border: red 1px solid;
    position: relative;
    width: 190px;
    height: 190px;
    border-radius: 35%;
    overflow: hidden;
}

.wavy span {
    position: absolute;
    top: calc(12px * var(--i));
    left: calc(12px * var(--i));
    right: calc(12px * var(--i));
    bottom: calc(12px * var(--i));
    // border: 10px solid black;
    // border-top: 10px solid greenyellow;
    border-left: 10px solid greenyellow;
    // border-bottom: 10px solid green;
    // border-right: 10px solid greenyellow;
    border-radius: 50%;
    // filter: hue-rotate(calc(90deg * var(--i)));
    animation: wavy 1s infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes wavy {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
